<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update User</h1>
        <form action="{{ url_for('update_user', user_id=user.email) }}" method="POST">
            <div class="form-group">
                <label for="nome">Name:</label>
                <input type="text" id="nome" name="nome" value="{{ user.nome }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required readonly>
            </div>
            <div class="form-group">
                <label for="senha">Password:</label>
                <input type="password" id="senha" name="senha" value="{{ user.senha }}" required>
            </div>
            <div class="form-group">
                <label for="cargo">Role:</label>
                <input type="text" id="cargo" name="cargo" value="{{ user.cargo }}" required>
            </div>
            <button type="submit">Update</button>
        </form>
        <a href="{{ url_for('read_users') }}">Back to User List</a>
    </div>
</body>
</html>